<%- include("header") -%>


<h1>This is about page</h1>


Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nam sapiente ducimus laborum eaque dolores temporibus eveniet unde animi nobis architecto, atque quibusdam doloremque debitis pariatur excepturi provident, error reprehenderit.

<%- include("footer") -%> 